* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

a {
    text-decoration: none;
    cursor: pointer;
}

/* HEADER */

.header-box {
    background: rgba(24, 24, 24, 0.8);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    width: 100%;
    height: 60px;
    top: 0;
    position: fixed;
    z-index: 9999;
}

.nav-box {
    max-width: 1160px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.text-header {
    color: #f5f5f7;
    background-color: transparent;
    margin-left: 30px;
    float: left;
    display: block;
    margin-top: 15px;
}

.button-header {
    background-color: #0071e3;
    color: #f5f5f7;
    font-size: 14px;
    border-radius: 50px;
    padding: 5px 5px;
    width: 230px;
    height: 20px;
    text-align: center;
    cursor: pointer;
    float: right;
    position: relative;
    margin-top: 15px;
    margin-right: 30px;
}

.button-header:hover {
    background-color: #004e9c;
}

.button-header-mobile {
    display: none;
}

.text-button-mobile {
    display: none;
}

/* HEADER */

/*---------------------------------------*/

/* BOX1 Qu’est-ce qu’un Ordinateur Quantique ? */

.box1 {
    background: linear-gradient(180deg, rgba(34, 34, 34, 1) 0%, rgba(0, 0, 0, 1) 82%);
    height: auto;
    width: 100%;
}

.sousbox {
    margin-top: 50px;
    max-width: 1100px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.textmain {
    text-align: center;
    font-size: 52px;
    font-weight: 600;
    color: #ffffff;
    padding-top: 100px;
    animation: fade-in-hero 1.5s ease-out 0.7s 1 forwards;
    transform: translateY(50px);
    opacity: 0;
    max-width: 1100px;
    display: block;
    margin-left: 50px;
    margin-right: 50px;
}

.textsousmain {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: #a1a1a6;
    margin-top: 30px;
    animation: fade-in-hero 1.5s ease-out 0.9s 1 forwards;
    transform: translateY(50px);
    opacity: 0;
    max-width: 1100px;
    display: block;
    margin-left: 50px;
    margin-right: 50px;
}

.imgmain {
    margin-top: 50px;
    background-image: url("googlesycamore.jpeg");
    max-width: 1100px;
    height: 500px;
    border-radius: 30px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: fade-in-hero 1.5s ease-out 0.9s 1 forwards;
    transform: translateY(50px);
    opacity: 0;
    margin-left: 50px;
    margin-right: 50px;
}

.text-description {
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    font-weight: 300;
    color: #f5f5f7;
    animation: fade-in-hero 1.5s ease-out 0.9s 1 forwards;
    transform: translateY(50px);
    opacity: 0;
    margin-left: 50px;
    margin-right: 50px;
}

.button-more {
    border: 2px solid #ffffff;
    border-radius: 50px;
    color: #ffffff;
    background-color: transparent;
    padding: 10px 20px;
    width: 200px;
    text-align: center;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    -webkit-transition: 0.1s ease-out;
    -moz-transition: 0.1s ease-out;
    transition: 0.1s ease-out;
    animation: fade-in-hero 1.5s ease-out 0.9s 1 forwards;
    transform: translateY(50px);
    opacity: 0;
}

.button-more:hover {
    border: 2px solid #ffffff;
    color: #000000;
    background-color: rgb(255, 255, 255);
}

@keyframes fade-in-hero {
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* BOX1 Qu’est-ce qu’un Ordinateur Quantique ?*/

/*---------------------------------------*/

/* BOX2 Cryptographie Quantique */

.box2 {
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("background-crypto.jpeg");
    padding-bottom: 100px;
    background-color: #000;
}

.cryptotextmain {
    text-align: left;
    font-size: 52px;
    font-weight: 600;
    color: #ffffff;
    padding-top: 100px;
    margin-left: 50px;
}

.cryptotextsousmain {
    text-align: left;
    font-size: 20px;
    font-weight: 400;
    color: #a1a1a6;
    max-width: 1100px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

.button-more-crypto {
    border: 2px solid #ffffff;
    border-radius: 50px;
    width: 200px;
    color: #ffffff;
    background-color: transparent;
    padding: 10px 20px;
    text-align: center;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    -webkit-transition: 0.1s ease-out;
    -moz-transition: 0.1s ease-out;
    transition: 0.1s ease-out;
}

.button-more-crypto:hover {
    border: 2px solid #ffffff;
    color: #000000;
    background-color: rgb(255, 255, 255);
}

/* BOX2 Cryptographie Quantique */

/*---------------------------------------*/

/* BOX3 Simulateur Quantique */

.simutextmain {
    text-align: left;
    font-size: 52px;
    font-weight: 600;
    color: #ffffff;
    margin-left: 50px;
    margin-right: 50px;
}

.simutextsousmain {
    text-align: left;
    font-size: 20px;
    font-weight: 400;
    color: #a1a1a6;
    max-width: 1100px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

.img-sim-atos {
    margin-top: 50px;
    background-image: url("atos-qlm.jpeg");
    width: auto;
    height: 450px;
    background-size: cover;
    border-radius: 20px;
    margin-right: auto;
    margin-left: auto;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 50px;
    margin-right: 50px;
}

.text-description-simu {
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    font-weight: 300;
    color: #ffffff;
}

.textboxtitle {
    text-align: left;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    display: block;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 30px;
}

.mother-box {
    /*All-Box*/
    height: 400px;
    max-width: 1100px;
    margin-top: 50px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
        margin-left: 50px;
    margin-right: 50px;
}

.children-box {
    /*Atos*/
    height: 400px;
    width: 300px;
    background: #1d1d1f;
    border-radius: 30px;
    position: relative;
}

.children-box-atos {
    background-image: url("atos-logo.png");
    width: 200px;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.children-box2 {
    /*Microsoft*/
    height: 400px;
    width: 300px;
    background: #1d1d1f;
    border-radius: 30px;
    position: relative;
}

.children-box-microsoft {
    background-image: url("microsoft-logo.png");
    width: 200px;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.children-box3 {
    /*IBM*/
    height: 400px;
    width: 300px;
    background: #1d1d1f;
    border-radius: 30px;
    position: relative;
}

.text-name-simu {
    color: #ffffff;
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 100px;
}

.children-box-ibm {
    background-image: url("ibm-logo.png");
    width: 200px;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.plus-icon {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    fill: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.plus-icon:active {
    transform: rotate(45deg);
    -webkit-transition: 0.1s ease-out;
    -moz-transition: 0.1s ease-out;
    transition: 0.1s ease-out;
}

.textchildren {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    max-width: 1100px;
    display: none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
}



/* BOX3 Simulateur Quantique */

/*---------------------------------------*/

/* BOX4 Algorithme de Shor*/

.algotextmain {
    text-align: left;
    font-size: 52px;
    font-weight: 600;
    color: #ffffff;
}

.algotextsousmain {
    text-align: left;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    width: auto;
    margin-top: 30px;
}

.algobox {
    background: linear-gradient(-135deg, #c6368a 0%, #673dc2 100%);
    border-radius: 30px;
    height: auto;
    padding: 50px 50px;
    z-index: 9999;
    margin-left: 50px;
    margin-right: 50px;
}

.algomainbox {
    margin-top: 50px;
    max-width: 1100px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* BOX4 Algorithme de Shor*/

/*---------------------------------------*/

/* BOX4 Algorithme de Groven*/

.algo2textmain {
    text-align: left;
    font-size: 52px;
    font-weight: 600;
    color: #ffffff;
}

.algo2textsousmain {
    text-align: left;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    width: auto;
    margin-top: 30px;
}

.algo2box {
    background: linear-gradient(-135deg, #c6368a 0%, #673dc2 100%);
    background: -webkit-linear-gradient( 300deg, #359cd7 10%, #7d6efb 100%);
    border-radius: 30px;
    height: auto;
    padding: 50px 50px;
    z-index: 9999;
    margin-left: 50px;
    margin-right: 50px;
}

.algo2sousbox {
    margin-top: 50px;
    max-width: 1100px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button-more-box {
    border: 2px solid #ffffff;
    border-radius: 50px;
    width: 200px;
    color: #ffffff;
    background-color: transparent;
    padding: 10px 20px;
    text-align: center;
    margin-top: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    -webkit-transition: 0.1s ease-out;
    -moz-transition: 0.1s ease-out;
    transition: 0.1s ease-out;
}

.button-more-box:hover {
    border: 2px solid #ffffff;
    color: #000000;
    background-color: rgb(255, 255, 255);
}

/* BOX4 Algorithme de Shor*/

/*---------------------------------------*/

/* BOX5 Internet Quantique*/

.intertextmain {
    text-align: left;
    font-size: 52px;
    font-weight: 600;
    color: #ffffff;
}

.intertextsousmain {
    text-align: left;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    width: auto;
    margin-top: 30px;
}

.interbox {
    background: #1d1d1f;
    border-radius: 30px;
    height: auto;
    padding: 50px 50px;
    z-index: 9999;
    margin-left: 50px;
    margin-right: 50px;
}

.intersousbox {
    margin-top: 50px;
    max-width: 1100px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* BOX5 Internet Quantique*/

/*---------------------------------------*/

/* BOX6 Quel sont les étapes pour installez myQLM ?*/

.box4 {
    background-color: #151516;
    padding-bottom: 120px;
}

.devtextmain {
    text-align: left;
    font-size: 52px;
    font-weight: 600;
    color: #ffffff;
    padding-top: 50px;
    max-width: 1100px;
    margin-left: 50px;
    margin-right: 50px;
}

.devtextsousmain {
    text-align: left;
    font-size: 20px;
    font-weight: 400;
    color: #a1a1a6;
    max-width: 1100px;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

.highlight-title {
    color: #ffffff;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.highlight {
    background: #eeffcc;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    height: 50px;
    max-width: 500px;
    line-height: 50px;
    border: 1px solid #a1a1a6;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}



/* BOX6 Quel sont les étapes pour installez myQLM ?*/

/*---------------------------------------*/

/* BOX7 Mise en pratique */

.test-box {
    background: -webkit-linear-gradient(300deg, #359cd7 10%, #7d6efb 100%);
    background: linear-gradient(150deg, #359cd7 10%, #7d6efb 100%);
    width: auto;
    margin-top: 20px;
    height: 500px;
    display: block;
    border-radius: 30px;
    margin-bottom: 200px;
    margin-left: 50px;
    margin-right: 50px;
}

/* BOX7 Mise en pratique */

/*---------------------------------------*/

@media only screen and (max-width: 733px) {
    .button-header {
        width: 50px;
        height: 20px;
    }
    .button-header {
        display: none;
    }
    .button-header-mobile {
        background-color: #0071e3;
        color: #f5f5f7;
        font-size: 14px;
        border-radius: 50px;
        padding: 5px 5px;
        width: 130px;
        height: 20px;
        text-align: center;
        cursor: pointer;
        float: right;
        position: relative;
        margin-top: 15px;
        margin-right: 30px;
        display: block;
    }
    .button-header-mobile:hover {
        background-color: #004e9c;
    }

    .mother-box {
        display: block;
    }
    
    .children-box {
        width: auto;
        position: absolute;
    }

    
    .children-box2 {
        position: absolute;
    }

    
    .children-box3 {
        position: absolute;
    }


    /*.algo2box {
        min-height: 546px;
    }

    

    .textmain {
        text-align: center;
        font-size: 40px;
        font-weight: 600;
        color: rgb(255, 255, 255);
        padding-top: 100px;
    }
    
    .textsousmain {
        text-align: center;
        font-size: 20px;
        font-weight: 400;
        color: #a1a1a6;
        width: 700px;
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-top: 30px;
    }

    .imgmain {
        margin-top: 50px;
        background-image: url(googlesycamore.jpeg);
        width: 200px;
        background-size: cover;

    }
    
*/
}

.text-update{
    text-align: center;
    color: #fff;
    padding-top: 220px;
    font-size: 30px;
}


.footer-box{
    background-color: #151516;
    bottom: 0;
    height: 60px;
}

.footer-title{
    color: #ffffff;
    text-align: center;
    line-height: 60px;
    font-size: 15px;
}